
body {
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: darkred;
}

.drop-zone {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: #eee;
}
.drop-zone table.default-message {
	width: 100%;
	height: 90%;
	text-align: center;
	color: #ccc;
	font-weight: bold;
	font-size: xx-large;
	text-shadow: 1px 1px 0 white;
}

.upload-button {
	display: block;
	position: absolute;
	right: 30px;
	bottom: 20px;
	cursor: pointer;
}
.upload-button img {
	width: 64px;
	opacity: .3;
}

.file-list {
	padding: 15px;
}
